<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Dashboard Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="./assets/css/dashboard.css" rel="stylesheet">
  
  <!-- Angular core -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl" class="container"> 
<h1>Contacts</h1>
<table class="table">
	<thead class="thead-default">
	  <tr>
	    <th>Name</th>
		<th>Surname</th>
		<th>Email</th>
		<th>Phone</th>
		<th>Address</th>
		<th>Delete</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="x in contacts">
	    <td>{{x.name}}</td>
		<td>{{x.surname}}</td>
		<td>{{x.email}}</td>
		<td>{{x.phone}}</td>
		<td>{{x.address}}</td>
		<td><button type="button" id="{{x._id}}" class="btn btn-danger" ng-click="deleteRecord('{{x._id}}')">Delete</button></td>
	  </tr>
	</tbody>
</table>



<!--<p>Today's welcome message is:</p>

<h1>{{myWelcome}}</h1>

<p>The $http service requests a page on the server, and the response is set as the value of the "myWelcome" variable.</p>-->
</div>



	<script src='controller.js'></script>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="./assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
